html,
body
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5625vw;
  @media (min-width: 641px) {
    font-size: 0.625vw;
  }
  @media (min-width: 801px) {
    font-size: 5px;
  }
}

main {
  font-size: 2.25em;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  @media (min-width: 641px) {
    font-size: 3.5em;
  }
}


footer {
  padding: 3em 1.5em 1.5em;
  p {
    font-size: 1.5em;
    small {
      font-size: 0.75em;
    }
  }
  @media (min-width: 641px) {
    text-align: center;
    padding: 4em 2em 2em;
    p {
      font-size: 2em;
    }
  }
}

h1 {
  display: none;
}

#season-data {
  display: none;
}


#season {

  section {
    padding: 1em;
    border-bottom: solid 1px #ccc;
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      &:after {
        content: '';
        width: 0;
        height: 0;
        border: solid 0.75em transparent;
        border-left-color: inherit;
        border-right: none;
        transform: rotate(90deg);
        transition: transform 0.25s ease-in-out;
      }
      &.expanded {
        &::after {
          transform: rotate(-90deg);
        }
      }
    }
  }


  table {
    width: 100%;
    th,
    td
    {
      white-space: nowrap;
      text-align: left;
      &:nth-child(n+2) {
        padding: 0 1em;
      }
    }
    th {
      font-weight: bold;
    }
    td[class^="location"] {
      &::before {
        display: inline-block;
        margin-right: 0.5em;
        color: blue;
      }
      &.location-west::before {
        content: '\2190';
        color: blue;
      }
      &.location-east::before {
        content: '\2192';
        color: red;
      }
      &.location-tbd::before {
        content: '\2191';
      }
    }
  }

  .weeks {
    display: none;
  }
  .expanded ~ .weeks {
    display: block;
  }
  .week {
    &.past-week {
    }
    &.future-week {
    }
  }

  .card-header {
    background: rgba(0,0,0,0.15);
    padding: 0.5em 1em;
    margin: 0.5em -1em;
    font-weight: bold;
  }

  #archive {
    // background: #f5f5f5;
  }
  #next {
  }
  #future {
    // background: lightblue;
  }

} // end #season



#race-calculator {

  text-align: center;

  .form { // fake form
    legend {
    }
    .entry-fields {
      margin-inline: auto;
    }
    label {
      font-size: 2em;
      font-weight: bold;
    }
    input {
      font-size: 1.5em;
    }
  }

}
